@font-face {
	font-family: 'Intersect';
	src: url('devgothic.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
	line-height: 1;
	background: black url(pattern.png) center repeat fixed;
	z-index: 0;
	font-family: 'Intersect', monospace;
}

body {
	height: 100%;
}

#shadow {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* W3C */
	width: 200%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -50%;
	z-index: 1;
}

#popup {
	opacity: 0.8;
	width: 600px;
	height: 250px;
	margin-left: -300px;
	margin-top: -125px;
	position: fixed;
	top: 50%;
	left: 50%;
	background: black;
	border-radius: 6px;
	border: 2px solid #425843;
	z-index: 2;
	padding: 10px;
}

#ipopup {
	background: black;
	border-radius: 14px;
	border: 2px solid #425843;
	z-index: 3;
	padding: 30px 40px;
	height: 185px;
}

#message {
	background: black;
	box-shadow: 0 -10px 20px #0f2f1e;
	border: 2px solid #425843;
	border-radius: 10px;
	height: 120px;
	color: #eee;
	display: table-cell;
	width: 500px;
	vertical-align: middle;
	font-size: 60px;
	text-align: center;
	padding: 10px;
	text-transform: capitalize;
	letter-spacing: 5px;
	cursor: pointer;
}

#progress {
	margin-top: 10px;
	width: 510px;
	border: 2px solid #425843;
	height: 30px;
	border-radius: 6px;
	text-align: left;
}

#bar {
	background: #64f3a0;
	float: left;
	height: 30px;
	width: 0;
	border-radius: 4px;
}

#bar.complete {
	background: #091dce;
}

#intersect {
	display: none;
	background-color: black;
	position: fixed;
	width: 900px;
	height: 508px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	left: 50%;
	top: 50%;
	box-shadow: 0 0 100px #0f2f1e;
	margin-left: -450px;
	margin-top: -254px;
	border: 2px solid #64f3a0;
	border-radius: 10px;
	z-index: 10;
}
